#TOOL_MERGE_PLAYLISTS:not(.Active) {
	background-image: url("files/res/img/Merge.png");
}

#TOOL_MERGE_PLAYLISTS.Active {
	background-image: url("files/res/img/Merge_Active.png");
}

#TOOL_MERGE_PLAYLISTS:not(.Active):hover {
	background-image: url("files/res/img/Merge_Hover.png");
}

#TOOL_MERGE_PLAYLISTS.Active:hover {
	background-image: url("files/res/img/Merge_Hover_Active.png");
}

#PLAYLIST_CONTENT {
	display: flex;
	height: 100%;	
	width: 100%;
	flex-direction: column;
}

#PLAYLIST_CONTAINER{
	display: flex;
	flex-wrap: wrap;
	height: 100%;	
	width: 100%;
	justify-content: center;
	overflow-y: auto;
	flex-grow: 1;
}

.playlist{
	width: 15rem;
	height: 15rem;
	margin: 1.25rem;
	flex-shrink: 0;
	background-size: auto 20rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-radius: 0.5rem;
	border: 0.25rem solid #111111;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist{
	margin: 1rem;
	border: 0.5rem solid #cccccc;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist:hover{
	margin: 1rem;
	border: 0.5rem solid #ffffff;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist.Active{
	margin: 1rem;
	border: 0.5rem solid #3e84f4;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist.Active:hover{
	margin: 1rem;
	border: 0.5rem solid #6ea3f7;
}

#MERGE_CONFIRM_CONTAINER {
	background-color: #333333;
	border-top: 0.2rem solid #111111;
	flex-shrink: 0;
	flex-grow: 0;
	color: #dddddd;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: center;
    font-family: Verdana;
    font-weight: bold;
    padding: 0.2rem;
}

#MERGE_CONFIRM {
	background-color: green;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin: 0.2rem;
}

#MERGE_CANCEL {
	background-color: red;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin: 0.2rem;
}