#TOOL_MERGE_PLAYLISTS:not(.Active) {
	background-image: url("files/res/img/Merge.png");
}

#TOOL_MERGE_PLAYLISTS.Active {
	background-image: url("files/res/img/Merge_Active.png");
}

#TOOL_MERGE_PLAYLISTS:not(.Active):hover {
	background-image: url("files/res/img/Merge_Hover.png");
}

#TOOL_MERGE_PLAYLISTS.Active:hover {
	background-image: url("files/res/img/Merge_Hover_Active.png");
}

#PLAYLIST_CONTAINER{
	display: flex;
	flex-wrap: wrap;
	height: 100%;	
	width: 100%;
	justify-content: center;
}

.thumbnail{
	width: 5rem;
	height: 5rem;
	margin: 2rem;
}