#TOOL_MERGE_PLAYLISTS:not(.Active) {
	background-image: url("files/res/img/Merge.png");
}

#TOOL_MERGE_PLAYLISTS.Active {
	background-image: url("files/res/img/Merge_Active.png");
}

#TOOL_MERGE_PLAYLISTS:not(.Active):hover {
	background-image: url("files/res/img/Merge_Hover.png");
}

#TOOL_MERGE_PLAYLISTS.Active:hover {
	background-image: url("files/res/img/Merge_Hover_Active.png");
}

#PLAYLIST_CONTAINER{
	display: flex;
	flex-wrap: wrap;
	height: 100%;	
	width: 100%;
	justify-content: center;
}

#PLAYLIST_CONTAINER:not(.MergeStarted)>.playlist{
	border: solid;
	border-color: black;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist{
	border: solid;
	border-color: #cccccc ;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist:hover{
	border: solid;
	border-color: #ffffff ;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist.Active{
	border: solid;
	border-color: #3e84f4;
}

#PLAYLIST_CONTAINER.MergeStarted>.playlist.Active:hover{
	border: solid;
	border-color: #6ea3f7;
}

.playlist{
	width: 30rem;
	height: 30rem;
	margin: 1rem 1rem 0rem 0rem;
	flex-shrink: 0;
	background-size: auto 30rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}