/*
Z-Indices
-2: Background
-1: Background Content
0: Main Content
1: Foreground Content
2: Foreground/Topbar
*/
#CONTENT {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#TOP_BANNER {
	background-color: #666666;
	flex-shrink: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 1;
}

#LOGO {
	height: 2.8rem;
	margin: 0;
	display: block;
}

.LogText {
	font-family: Verdana;
	font-weight: bold;
	padding: 0.3rem 0.5em;
	height: 2.8rem;
	text-align: center;
	line-height: 2.8rem;
	cursor: pointer;
}

.LogText:hover {
	background-color: #888888;
}

#INNER_CONTENT {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

#TABS {
	background-color: #333333;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	border-right: 0.1rem solid #111111;
}

.Option {
	flex-shrink: 0;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.3rem;
	margin: 0;
	background-blend-mode: lighten;
	background-size: 2.5rem 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#TAB_VIDEO.Playing:not(.Active) {
	background-image: url("../res/img/Video_Play.png");
}

#TAB_VIDEO.Playing.Active {
	background-image: url("../res/img/Video_Play_Active.png");
}

#TAB_VIDEO.Playing:not(.Active):hover {
	background-image: url("../res/img/Video_Play_Hover.png");
}

#TAB_VIDEO.Playing.Active:hover {
	background-image: url("../res/img/Video_Play_Hover_Active.png");
}

#TAB_VIDEO.Playing+.TooltipBase::after {
	content: "Playing";
}

#TAB_VIDEO.Paused:not(.Active) {
	background-image: url("../res/img/Video_Paused.png");
}

#TAB_VIDEO.Paused.Active {
	background-image: url("../res/img/Video_Paused_Active.png");
}

#TAB_VIDEO.Paused:not (.Active ):hover {
	background-image: url("../res/img/Video_Paused_Hover.png");
}

#TAB_VIDEO.Paused.Active:hover {
	background-image: url("../res/img/Video_Paused_Hover_Active.png");
}

#TAB_VIDEO.Paused+.TooltipBase::after {
	content: "Paused";
}

#TAB_PLAYLIST:not(.Active) {
	background-image: url("../res/img/Playlist.png");
}

#TAB_PLAYLIST.Active {
	background-image: url("../res/img/Playlist_Active.png");
}

#TAB_PLAYLIST:not(.Active ):hover {
	background-image: url("../res/img/Playlist_Hover.png");
}

#TAB_PLAYLIST.Active:hover {
	background-image: url("../res/img/Playlist_Hover_Active.png");
}

#TAB_SETTINGS:not(.Active) {
	background-image: url("../res/img/Settings.png");
}

#TAB_SETTINGS.Active {
	background-image: url("../res/img/Settings_Active.png");
}

#TAB_SETTINGS:not(.Active ):hover {
	background-image: url("../res/img/Settings_Hover.png");
}

#TAB_SETTINGS.Active:hover {
	background-image: url("../res/img/Settings_Hover_Active.png");
}

.TooltipContainer {
	position: relative;
	display: inline-block;
}

.TooltipBase {
	position: absolute;
	font-family: Verdana;
	visibility: hidden;
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	height: 1.25rem;
	padding: 0.25rem;
	border-radius: 0.25rem;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
	user-select: none;
}

.TooltipBase::before {
	/* Disabled until arrows are fixed
	
	content: " ";
	position: absolute;
	border-width: 0.2rem;
	border-style: solid;
	*/
	
}

.TooltipRight {
	top: 25%;
	left: 105%;
}

.TooltipRight::before {
	/* Disabled until arrows are fixed
	
	top: 50%;
	right: 100%;
	margin-top: -0.2rem;
	border-color: transparent #666666 transparent transparent;
	*/
	
}

.TooltipDown {
	top: 105%%;
	left: -100%;
}

.TooltipDown::before {
	/* Disabled until arrows are fixed
	
	bottom: 100%;
	left: 50%;
	margin-left: -0.2rem;
	border-color: transparent transparent #666666 transparent;
	*/
	
}

.TooltipContainer:hover .TooltipBase {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s;
	transition-delay: 0.5s;
}

.FlexDynamic {
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

#PAGE {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#PAGE_TOOLS {
	background-color: #333333;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.PageTool {
	flex-shrink: 0;
	width: 2rem;
	height: 1.5rem;
	padding: 0.3rem;
	margin: 0;
	background-blend-mode: lighten;
	background-size: 2rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.PageToolDivider {
	background-color: #222222;
	height: 1.5rem;
	width: 0.15rem;
}

#PAGE_CONTENT {
	background-color: #222222;
	flex-grow: 1;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#PAGE_SEARCH {
	flex-grow: 0;
	display: flex;
	flex-direction: column;
}

#PAGE_SEARCH_TITLE {
	background-color: #333333;
	flex-shrink: 0;
	text-align: center;
	font-size: 1.75rem;
	color: #cccccc;
	font-family: Verdana;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}

#PAGE_SEARCH:not(.Active) #PAGE_SEARCH_TITLE{
	border-top: 0.2rem solid #111111;
}

#PAGE_SEARCH.Active #PAGE_SEARCH_TITLE{
	border-bottom: 0.2rem solid #111111;
}

#PAGE_SEARCH_CONTENT {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#PAGE_SEARCH_BAR_CONTAINER {
	padding: 1rem;
	border-bottom: 0.2rem solid #111111;
	background-color: #333333;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
}

#PAGE_SEARCH_BAR {
	float: center;
	background-color: #dddddd;
	border: 0.2rem solid #111111;
	border-radius: 0.3rem;
	padding: 0.2rem;
	height: 1rem;
	font-family: Arial;
	flex-grow: 1;
	resize: none;
	overflow: hidden;
	font-weight: bold;
}

#PAGE_SEARCH_BAR_BUTTON:hover {
	background-color: #6ea3f7;
}

#PAGE_SEARCH_BAR_BUTTON:active {
	background-color: #9fc1f9;
}

#PAGE_SEARCH_RESULTS {
	background-color: #222222;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

[contentEditable=true]:empty:not(:focus):before {
	content: attr(background-text);
}

* {
	margin: 0;
	padding: 0;
}