/*
Z-Indices
-2: Background
-1: Background Content
0: Main Content
1: Foreground Content
2: Foreground/Topbar
*/
#CONTENT {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#TOP_BANNER {
	background-color: #4d4d4d;
	flex-shrink: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.2rem;
}

#LOGO {
	height: 2.8rem;
	flex-basis: 3rem;
	margin: 0;
	display: block;
}

.LogText {
	font-family: Verdana;
	font-weight: bold;
	padding: 0rem 0.3rem;
	margin: 0rem 0.5rem;
	height: 2.8rem;
	text-align: center;
	line-height: 2.8rem;
}

.LogText:hover{
	background-color: #444444;
}

#INNER_CONTENT {
	height: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

#TABS {
	background-color: #333333;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#TAB_VIDEO{
	background-image: url("../res/img/Video_Play.png");
}

#TAB_PLAYLIST{
	background-image: url("../res/img/Playlist.png");
}

#TAB_SETTINGS{
	background-image: url("../res/img/Settings.png");
}

.Option {
	flex-shrink: 0;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.3rem;
	margin: 0;
	background-blend-mode: darken;
	background-size: 2.5rem 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
}

.Option:hover{
	background-color: #444444;
}

.OptionActive {
	background-color: #222222;
}

.FlexDynamic {
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

#PAGE {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#PAGE_SEARCH {
	background-color: #111111;
	flex-shrink: 0;
}

#PAGE_CONTENT {
	background-color: #222222;
	flex-grow: 1;
}

#PAGE_SEARCH {
	background-color: #111111;
	flex-shrink: 0;
}

.Fade {
	opacity: 0;
}

* {
	margin: 0;
	padding: 0;
}