<div id="SETTINGS_USER_CONTAINER">
	<div id="SETTINGS_USER_PAGE">
		<div class="SettingContainer">
			<div class="SettingTitle">Import Playlist</div>
			<div class="SettingHiddenContainer">
				<div class="SettingOption">
					<div class="SettingName"></div>
					<div class="SettingValue"></div>
				</div>
			</div>
		</div>
		<div class="SettingContainer">
			<div class="SettingTitle">Video Settings</div>
			<div class="SettingHiddenContainer">
				<div class="SettingOption">
					<div class="SettingName"></div>
					<div class="SettingValue"></div>
				</div>
			</div>
		</div>
		<div class="SettingContainer">
			<div class="SettingTitle">Playlist Settings</div>
			<div class="SettingHiddenContainer">
				<div class="SettingOption">
					<div class="SettingName"></div>
					<div class="SettingValue"></div>
				</div>
			</div>
		</div>
	</div>
</div>