<div id="SETTINGS_LOG_CONTAINER">

	<div id="SETTINGS_LOG_CONTENT">
		It seems you are not logged in! In order to access content you will
		either need to
		<div
			style="position: relative; background-color: #111111; height: 0.2rem; width: 90%; left: 5%;"></div>
		<div id="SETTINGS_LOG_BUTTON_CONTAINER">
			<div id="SETTINGS_LOGIN" class="SettingsLogButton Disabled">Login</div>
			<div id="SETTINGS_REGISTER" class="SettingsLogButton Disabled">Register</div>
		</div>
		Or
		<div id="SETTINGS_LOG_BUTTON_CONTAINER">
			<div id="SETTINGS_LOGIN_GUEST" class="SettingsLogButton">Login as Guest</div>
		</div>
	</div>

</div>
