/*
Z-Indices
-2: Background
-1: Background Content
0: Main Content
1: Foreground Content
2: Foreground/Topbar
*/
#TEST_PAGE_CONTENT {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#TEST_PAGE_TAB_BANNER {
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #303030;
}

.TestPageTab {
	background-color: #424242;
	color: #dddddd;
	padding: 4pt;
	margin: 4pt;
	cursor: pointer;
	user-select: none;
}

.TestPageTab:hover {
	background-color: #545454;
}

.TestPageTab:active {
	background-color: #666666;
}

#TEST_PAGE_TAB_CONTENT {
	flex-grow: 1;
	position: relative;
}

.Fade {
	opacity: 0;
}

html, body {
	height: 100%;
}

* {
	font-family: Verdana;
	margin: 0;
	padding: 0;
	border-spacing: 0;
}